*.tar.gz
.DS_Store
.\wezterm
autokey/autokey.json
autokey/autokey.json~
autokey/data/SHELL/hz.json
autokey/data/SHELL/hz.txt
btop/btop.log
doublecmd/doublecmd-themes/
doublecmd/doublecmd.xml
doublecmd/tabs~1407114262.tmp
doublecmd/tabs~668212148.tmp
doublecmd/tabs~879897565.tmp
folder.json
i3/config.main
i3/config.main.bak
i3/diff.txt
lazygit/state.yml
lf/bookmarks
nvim/.gitignore
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/packer
nvim/plugin/packer_compiled.lua
rofi.old
tmux/.tmux/plugins
vifm/vifminfo.json
~/.cache/nvim.undodir
/nvim/lazyvim.json
