!plug.vim
!nvim/autoload/plug.vim
!autoload/plugged/plugged.tar.gz
plugged/*
.gitignore
gitpush.sh
gitpull.sh
undodir/
.netrwhist
*.nvim
/sessions
sessions/
/OneTerm.nvim
/bufferline.nvim
/lsp_signature.nvim
/toggleterm.nvim
/vifm.vim