~/.gitignore
!/**/plugged.tar.gz
plugged/*
!autoload/plug.vim
**/plugged/*.vim	
gitpush.sh
gitpull.sh
undodir/
.netrwhist
*.nvim
/sessions
sessions/
/OneTerm.nvim
/bufferline.nvim
/lsp_signature.nvim
/toggleterm.nvim
/vifm.vim
