* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    background-color: rgba(40, 40, 40, 0.9);
}

button {
    color: #ebdbb2;
    background-color: #3c3836;
    border-style: solid;
    border-width: 2px;
    border-color: #504945;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 25%;
    margin: 10px;
    min-width: 150px;
    min-height: 150px;
    transition: all 0.2s ease;
}


button:focus,
button:hover {
    background-color: #504945;
    border-color: #d79921;
    color: #fabd2f;
    outline-style: none;
}

#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}
#lock:hover {
    background-color: #458588;
    border-color: #83a598;
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}
#logout:hover {
    background-color: #cc241d;
    border-color: #fb4934;
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}
#suspend:hover {
    background-color: #689d6a;
    border-color: #8ec07c;
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
}
#hibernate:hover {
    background-color: #b16286;
    border-color: #d3869b;
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}
#reboot:hover {
    background-color: #d79921;
    border-color: #fabd2f;
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}
#shutdown:hover {
    background-color: #cc241d;
    border-color: #fb4934;
}
